.component {
  /* Cancel the default <a> decoration */
  text-decoration: none;
  color: inherit;

  padding-left: 20px;
  padding-right: 20px;

  /* Grid to place .name and .line on the same area */
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "inner"; /* .line is overlayed on .name in the same area */

  > .name {
    grid-area: inner; /* same area */
    color: rgb(212, 212, 212);
  }

  > .name.current {
    color: rgb(255, 255, 255);
  }

  > .line {
    grid-area: inner; /* same area */
    align-self: stretch;
    border-bottom: 4px solid rgb(255, 255, 255);
  }
}
