.component {
  /* Cancel browser's default ul style */
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.anchor {
  anchor-name: --anchor-el;
}

.menu {
  /* Cancel default popver style */
  border-style: none;

  /* Anchor-positioned element is positioned including its margin */
  margin: 0;

  /* https://developer.chrome.com/blog/anchor-positioning-api?hl=en */
  /* To use positioning values you need to add position: absolute to your positioned element. */
  position: absolute;
  position-anchor: --anchor-el;
  top: anchor(top);
  left: anchor(right);

  border: solid 1px black;
}
